// HEADER //
.header_index{
    background-color: $blue;
    width: 100%;
    height: 40px;
    // display: flex;

    a{text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .option{
        display: flex;
        justify-content: flex-start;
    }
    .inscription{
        display: flex;
        justify-content: flex-end;

    }
}
// BODY //
.body_index{
    margin: 0;
    .snake {text-decoration: none;
    font-weight: bold;
    color: $blue;
    }

}
// FOOTER //